<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>3코스 3강과제(AJAX를 이용한 게시판 만들기)</title>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- 서머노트를 위해 추가해야할 부분 -->
  <script src="./summerNote/summernote-lite.js"></script>
  <script src="./summerNote/summernote-ko-KR.js"></script>
  <link rel="stylesheet" href="./summerNote/summernote-lite.css">
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <div id="container">
    <section>
      <div id="page_login_content" class="inner" style="display:block">
       <div class="login_wrap">
        <div class="login_box">
          <div class="login_area">
            <label for="input_id">아이디&nbsp;:&nbsp;</label>
            <input type="text" name="id1" id="input_id" placeholder="아이디를 입력하세요." >
          </div>
          <div class="login_area">
            <label for="input_pw">비밀번호&nbsp;:&nbsp;</label>
            <input type="password" name="password1" id="input_pw" placeholder="비밀번호를 입력하세요.">
          </div>
          <div class="btn_group">
            <button type="button" name="trylogin" class="btn_login" onclick="loginFunc()">로그인</button>
            <input type="button" value="회원가입" name="signuppage"class="btn_signup" onclick="signUpFunc()"></input>
          </div>
          </div>
        </div>
      </div>
      <div id="page_signup_content" class="inner" style="display:none">
        <div class="signup_wrap">
          <div class="signup_box">
            <div class="signup_area signup_id">
              <label for="input_id2">아이디&nbsp;:&nbsp;</label>
              <input type="text" name="id2" id="input_id2" placeholder="아이디를 입력하세요.">
              <span class="guide_desc">* 3~16 자리의 영문자아이디를 입력해주세요.</span>
            </div>
            <div class="signup_area signup_nick">
              <label for="input_nick">닉네임&nbsp;:&nbsp;</label>
              <input type="text" name="nickname" id="input_nick" placeholder="닉네임을 입력하세요.">
              <span class="guide_desc">* 3~10 자리의 닉네임을 입력해주세요.</span>
            </div>
            <div class="signup_area signup_email">
              <label for="input_email">이메일&nbsp;:&nbsp;</label>
              <input type="email" name="email" id="input_email" placeholder="이메일을 입력하세요.">
            </div>
            <div class="signup_area signup_pw">
              <label for="input_pw2">비밀번호&nbsp;:&nbsp;</label>
              <input type="password" name="password2" id="input_pw2" placeholder="비밀번호를 입력하세요">
              <span class="guide_desc">* 8~16 길이의 영문자와 숫자로 이루어진 비밀번호를 입력하세요.</span>
            </div>
            <div class="signup_area signup_pw">
              <label for="input_pw3">비밀번호&nbsp;&nbsp;&nbsp;<br>재입력&nbsp;&nbsp;:</label>
              <input type="password" name="password3" id="input_pw3" placeholder="비밀번호를 재입력하세요">
              <span class="guide_desc">* 비밀번호를 재입력하세요.</span>
            </div>
            <div class="btn_group">
              <input type="submit" class="btn_signup" name="signup" value="가입하기" onclick="makeIdFunc()"></input>
              <input type="submit" name="backlogin" class="btn_back" value="돌아가기" data-sort="back" onclick="backLogin()"></input>
            </div>
          </div>
        </div>
      </div>
      <div id="page_write" class="inner" style="display:none">
        <h1 class="blind">게시판</h1>
        <span class="userline"><span class="curruser"></span>님 반갑습니다.</span>
        <h2>[ 글쓰기 ]</h2>
        <div class="input_category">
          <select name="category" class="data_cate">
            <option value="select_cate">카테고리 선택</option>
            <option value="수다"></option>
            <option value="고민"></option>
            <option value="정보"></option>
          </select>
        </div>
        <div class="tit_box">
          <label for="input_subject">
            <input type="text" id="input_subject" name="subject" placeholder="제목을 입력해 주세요.">
          </label>
        </div>
        <div class="container">
          <textarea class="summernote" name="editordata"></textarea>
        </div>
        <div class="btn_group">
          <a href="#none" class="btn_cancel">취소</a>
          <button type="submit" class="btn_update">등록</button>
        </div>
      </div>
      <div id="page_list" class="inner" style="display:none">
        <h1 class="blind">게시판</h1>
        <span class="userline"><span class="curruser"></span>님 반갑습니다.</span>
        <div class="title">
          <h2>[ 게시판 목록화면 ]<button type="button" class="btn_write" onclick="writeFunc()">글쓰기</button></h2>
        </div>
        <div class="board">
          <div class="caution">등록된 게시물이 없습니다.</div>          
          <table>
            <thead>
              <tr><th class="st01">구분</th><th class="st02">글제목</th><th class="st01">작성자</th><th class="st03">작성일</th><th class="st04">조회수</th></tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <div class="pagination">
            <button type="button" class="page_prev"> << </button>
            <button type="button" class="btn_page is_active">1</button>
            <button type="button" class="btn_page">2</button>
            <button type="button" class="btn_page">3</button>
            <button type="button" class="btn_page">4</button>
            <button type="button" class="btn_page">5</button>
            <button type="button" class="page_next"> >> </button>
          </div>        
        </div>
      </div>
      <div id="page_list_content" class="inner" style="display:none">
        <h1 class="blind">게시판</h1>
        <span class="userline"><span class="curruser"></span>님 반갑습니다.</span>
        <div class="view">
          <div class="btn_group">
            <button href="#none" class="btn_list" onclick="pageList()">목록으로</button>
            <button href="#none" class="btn_reply" onclick="pageReply()">답글작성</button>
          </div>
          <div class="con_wrap">
            <div class="list_con">
              <div class="con_header">
                <div class="view_subject">등록된 글의 제목입니다.</div>
                <ul class="info_group">
                  <li class="view_nick">nick</li>
                  <li class="view_id">id</li>
                  <li class="view_date">2023-05-30 06:58</li>
                  <li class="view_count">조회 <span class="view_num">3</span></li>
                </ul>
              </div>
              <div class="con_body">
                <p>본문</p>
              </div>
            </div>
            <div class="comment_con">
              <div class="comment_list">
                <table>
                  <tbody>
                    <tr class="list_items">
                      <td class="list_id">id</td><td class="list_con">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus asperiores cupiditate obcaecati, sit natus qui sapiente modi amet autem assumenda nihil nam ad perferendis alias, tempore exercitationem labore ullam.</td><td class="list_date">2023.05.30</td><td class="list_reply"><button type="button" class="btn_reply">대댓글</button></td>
                    </tr>
                    <tr class="list_items">
                      <td class="list_id">id</td><td class="list_con">perferendis alias, tempore exercitationem labore ullam</td><td class="list_date">2023.05.30</td><td class="list_reply"><button type="button" class="btn_reply">대댓글</button></td>
                    </tr>
                    <tr class="list_items">
                      <td class="list_id">id</td><td class="list_con">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus asperiores cupiditate obcaecati, sit natus qui sapiente modi amet autem assumenda nihil nam ad perferendis alias, tempore exercitationem labore ullam.</td><td class="list_date">2023.05.30</td><td class="list_reply"><button type="button" class="btn_reply">대댓글</button></td>
                    </tr>
                    <tr class="list_items">
                      <td class="list_id">id</td><td class="list_con">perferendis alias, tempore</td><td class="list_date">2023.05.30</td><td class="list_reply"><button type="button" class="btn_reply">대댓글</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="comm_update">
                <span class="comm_writer">작성자</span>
                <textarea name="comment" id="input_comment" cols="30" rows="5" placeholder="댓글을 남겨보세요."></textarea>
                <div class="btn_area">
                  <button type="submit" class="btn_comment_update" onclick="">등록</button>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="page_reply" class="inner" style="display:none">
        <h1 class="blind">게시판</h1>
        <span class="userline"><span class="curruser"></span>님 반갑습니다.</span>
        <h2>[ 답글쓰기 ]</h2>
        <div class="output_category"></div>
        <div class="tit_box">
          <label for="reply_subject">
            <input type="text" id="reply_subject" name="subject" placeholder="제목을 입력해 주세요.">
          </label>
        </div>
        <div class="container">
          <textarea class="summernote" name="editordata"></textarea>
        </div>
        <div class="btn_group">
          <button href="#none" class="btn_cancel" onclick="">취소</button>
          <button type="submit" class="btn_update" onclick="">등록</button>
        </div>
      </div>
    </section>
  </div>
  <script src="./js/ajax.js"></script>
  <script>
    $('.summernote').summernote({
	    height: 300,
	    lang: "ko-KR"
	  });
  </script>

</body>
</html>