@charset "UTF-8";
/*공통요소*/
* {
	font-family: 'Noto Sans Korean', sans-serif;
	transition: all 0.1s;
}
#wrap {
	width: 100%;
}
.clearfix {
	 *zoom: 1;
}
.clearfix:after {
	display: block;
	clear: both;
	content: '';
}
.full-width {
	width: 100% !important;
}
.form-control {
	display: block;
	width: 100%;
	height: 45px;
	margin-bottom: 8px;
	padding: 5px 15px;
	font-size: 15px;
	line-height: 1.5;
	text-align: left;
	color: #444;
	// background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	outline: none;
	box-sizing: border-box;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	vertical-align: middle;
	&.rgba {
		color: #555;
		border: 1px solid #ddd;
		background-color: rgba(0,0,0,0.0);
	}
}//end .form-control

.form-control-sm {
	display: block;
	width: 100%;
	height: 35px;
	margin-bottom: 8px;
	padding: 5px 15px;
	font-size: 13px;
	line-height: 1.5;
	text-align: left;
	color: #444;
	// background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	outline: none;
	box-sizing: border-box;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	vertical-align: middle;
	&.rgba {
		color: #666;
		border: 1px solid #ddd;
		background-color: rgba(0,0,0,0.0);
	}
}//end .form-control-sm
.btn {
	display: inline-block;
	height: 45px;
	padding: 0 15px;
	color: #fff;
	font-size: 15px;
	font-weight: normal;
	border: 1px solid #f28f02;
	box-sizing: border-box;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-indent: 0 !important;
	text-decoration: none;
	line-height: 43px;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	background-color: #f28f02;
	transition: all 0.2s;
	&:hover {
		border-color: #f8ca88;
		background-color: #f8ca88;
	}
	&.bg-blue {
		border-color:#064280;
		background-color: #064280;
	}//end .bg-blue
	&.bg-black {
		border-color: #333;
		background-color: #333;
		&:hover {
			border-color: #555;
			background-color: #555;
		}
	}//end .bg-black
	&.bg-red {
		border-color:#d52949;
		background-color: #d52949;
		&:hover {
			border-color:#f75371;
			background-color: #f75371;
		}
	}//end .bg-red
	&.bg-default {
		color:#333;
		border-color: #333;
		background-color: #fff;
		&:hover {
			color:#fff;
			border-color: #aaa;
			background-color: #aaa;
		}
	}//end .bg-default
}//end .btn
.btn-sm {
	display: inline-block;
	height: 35px;
	padding: 0 15px;
	color: #fff;
	font-size: 13px;
	font-weight: normal;
	border: 1px solid #f28f02;
	box-sizing: border-box;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-indent: 0 !important;
	text-decoration: none;
	line-height: 33px;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	background-color: #f28f02;
	transition: all 0.2s;
	&:hover {
		border-color: #f8ca88;
		background-color: #f8ca88;
	}
	&.bg-blue {
		border-color:#064280;
		background-color: #064280;
	}//end .bg-blue
	&.bg-black {
		border-color: #333;
		background-color: #333;
		&:hover {
			border-color: #666;
			background-color: #666;
		}
	}//end .bg-black
	&.bg-red {
		border-color:#d52949;
		background-color: #d52949;
		&:hover {
			border-color:#f75371;
			background-color: #f75371;
		}
	}//end .bg-red
	&.bg-default {
		color:#333;
		border-color: #333;
		background-color: #fff;
		&:hover {
			color:#fff;
			border-color: #ccc;
			background-color: #ccc;
		}
	}//end .bg-default
}//end .btn-sm
.text-center {
	text-align: center;
}
.inner {
	width: 1200px;
	margin:0 auto;
}
.bar {
	padding:0 10px;
}//end .bar
.bar2 {
	display: inline-block;
	width: 2px;
	height: 20px;
	margin:0 15px;
	background-color: #dadada;
	vertical-align: middle;
}//end .bar2
.dash {
	display: inline-block;
	width: 20px;
	height: 2px;
	margin:0 5px;
	background-color: #dadada;
	vertical-align: middle;
}//end .dash
.textarea {
	width: 100%;
	padding:10px;
	border:none;
	box-sizing: border-box;
	background-color: #f6f6f6;
}//end textarea
.help-text {
	clear: both;
	color:#888;
	font-size: 12px;
	line-height: 1;
}//end .help-text
.check-box {
	text-align: right;
	input {
		display: none;
	}//end input
	label {
		display: inline-block;
		position: relative;
		width: 50%;
		height: 30px;
		padding-left: 40px;
		line-height: 28px;
		text-align: left;
		border:1px solid #e0e0e0;
		box-sizing: border-box;
		span {
			position: absolute;
			top: -1px;
			left: -1px;
			width: 30px;
			height: 30px;
			vertical-align: middle;
			background-color: #e0e0e0;
			background-repeat: no-repeat;
			background-position: center;
		}//end span
	}//end label
	input:checked+label span {
		background-image: url(../images/check-on.png);
	}
}//end .check-box


/*---- header ----*/
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-color: #fff;
	box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.3);
	z-index: 9999;
	h1 {
		position: relative;
		width: 256px;
		height: 256px;
		margin:0 auto;
		border-radius: 138px;
		background-color: #fff;
		transform: translateY(-141px);
		z-index: 100;
		a {
			display: block;
			width: 100%;
			height: 100%;
			margin:0 auto;
			text-indent: -9999px;
			border-radius: 138px;
			background-color: #fff;
			background-image: url(../images/logo2.png);
			background-repeat: no-repeat;
			background-position: center;
		}//end a
	}//end h1
	nav {
		position: absolute;
		top: 0;
		left: 50%;
		width: 1200px;
		height: 80px;
		text-align: center;
		transform: translateX(-50%);
		.gnb {
			display: inline-block;
			width: 100%;
			height: 100%;
			li {
				position: relative;
				float: left;
				margin:0 40px;
				line-height: 80px;
				&:hover .sub-gnb-box {
					display: block;
				}
				&:hover > a,
				&.on > a {
					color:#f28f02;
				}
				&:nth-of-type(1) {
					margin-left: 0;
				}
				&:nth-of-type(3) {
					margin-right: 360px;
				}
				&:nth-of-type(6) {
					margin-right: 0;
				}
				a {
					color:#333;
					font-size: 20px;
				}//end a
				.sub-gnb-box {
					display: none;
					position: absolute;
					top: 100%;
					left: 50%;
					min-height: 95px;
					transform: translateX(-50%);
					.sub-gnb {
						margin-top: 9px;
						padding:15px;
						border-radius:10px;
						box-sizing: border-box;
						box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
						background-color: #fff;
						&:after {
							display: block;
							position: absolute;
							bottom: calc(100% - 10px);
							left: 50%;
							width: 0;
							height: 0;
							border-color: transparent transparent #fff transparent;
							border-width: 9px;
							border-style: solid;
							transform: translateX(-50%);
							content:'';
						}
						li {
							float: none;
							width: 100px;
							margin:0;
							line-height: 28px;
							a {
								font-size: 14px;
							}//end a
						}//end li
					}//end .sub-gnb
				}//end .sub-gnb-box
			}//end li
		}//end .gnb
	}//end nav
}//end header


/*---- container ----*/
// main
.container {
	width: 100%;
}//end .container
.contents {
	width: 100%;
	padding:20px 0;
}//end .contents
.bnnr {
	height: 574px;
	margin-top: 80px;
	.swiper-slide {
		position: relative;
		> img {
			position: absolute;
			top: 0;
			left: 0;
			width: auto;
			height: 100%;
		}//end img
		> .text {
			color:#fff;
			font-size: 14px;
			line-height: 1.6;
			p {
				margin-top: 15px;
			}//end p
		}//end .text
	}//end .swiper-slide
}//end .bnnr
.box {
	position: relative;
	float: left;
	width: 590px;
	height: 267px;
	margin-bottom: 20px;
	border-radius: 20px;
	h6 {
		margin-bottom: 30px;
		font-size: 24px;
		font-weight: normal;
	}//end h6
	> p {
		color:#fff;
		&.week {
			padding:0 0 10px;
		}//end .week
		>b {
			margin-right: 15px;
			padding:0 10px;
			color:#f28f02;
			line-height: 28px;
			background-color: #fff;
		}//end b
		.bar {
			font-size: 11px;
			vertical-align: bottom;
		}//end .bar
	}//end p
	> .more {
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
		color:#444;
		font-size: 34px;
	}//end .more
	&.box1 {
		margin-right: 20px;
		padding:30px;
		box-sizing: border-box;
		background-color: #f28f02;
		h6 {
			color:#fff;
		}//end h6
		> .more {
			color:#fff;
		}//end .more
	}//end .box1
	&.box2 {
		a {
			float: left;
			img {
				vertical-align: middle;
			}//end img
		}//end a
	}//end .box2
	&.box3 {
		margin-right: 20px;
		padding:30px;
		box-sizing: border-box;
		border:1px solid #999;
		box-sizing: border-box;
		> p a {
			color:#444 !important;
		}//end p
	}//end .box3
	&.box4 {
		background-color: #f8f8f8;
		>.contact {
			float: left;
			width: 50%;
			padding:30px;
			box-sizing: border-box;
			p {
				margin-bottom: 12px;
				padding-left:24px;
				font-size: 16px;
				line-height: 18px;
				&:nth-of-type(1) {
					background-image: url(../images/home.png);
					background-repeat: no-repeat;
					background-position: 0 2px;
				}
				&:nth-of-type(2) {
					background-image: url(../images/tel.png);
					background-repeat: no-repeat;
					background-position: 0 2px;
				}
			}//end p
			a {
				display: block;
				width: 100%;
				height: 40px;
				margin-top: 10px;
				line-height: 40px;
				text-align: center;
				background-color: #555;
			}//end a
		}//end .contact
		a {
			float: right;
			img {
				vertical-align: middle;
			}//end img
		}//end a
	}//end .box4
}//end .box
.etiquette {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 815px;
	img {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		vertical-align: middle;
	}//end img
}//end .etiquette


// sub
.sub-bnnr {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 380px;
	margin-top: 80px;
	margin-bottom: 100px;
	text-align: center;
	h2 {
		position: relative;
		color:#fff;
		font-size: 40px;
		font-weight: normal;
		line-height: 380px;
		z-index: 2;
	}//end h2
	> img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}//end img
}//end .sub-bnnr
.sub-nav {
	width: 100%;
	&.n4 li {
		width: 25%;
	}
	&.n2 li {
		width: 50%;
	}
	li {
		float: left;
		width: 33.333%;
		&.on a,
		&:hover a {
			color:#fff;
			border-color:#f28f02;
			background-color: #f28f02;
		}
		a {
			display: block;
			width: 100%;
			color:#999;
			font-size: 20px;
			line-height: 62px;
			text-align: center;
			border:1px solid #ccc;
			box-sizing: border-box;
		}//end a
	}//end li
}//end .sub-nav
.sub-tit {
	margin-top: 60px;
	color:#111;
	font-size: 40px;
	font-weight: normal;
	line-height: 1.3;
	text-indent: 25px;
	background-image: url(../images/marking.png);
	background-repeat: repeat-x;
	background-size: 100% 20px;
	background-position: 0 100%;
}//end .sub-tit
.cont-nav {
	width: 100%;
	margin-top: 65px;
	li {
		float: left;
		a {
			color:#555;
		}//end a
		.bar {
			color:#999;
			font-size: 11px;
			vertical-align: bottom;
		}//end .bar
	}//end li
}//end .cont-nav
.ceo-text {
	width: 100%;
	margin-top: 60px;
	.text {
		float: left;
		width: calc(100% - 532px);
		img {
			margin-bottom: 25px;
			vertical-align: middle;
		}//end img
		p {
			margin-bottom: 25px;
			font-size: 18px;
		}//end p
	}//end .text
	>img {
		float: right;
	}//end img
}//end .ceo-text
.intro-text {
	width: 100%;
	margin-top: 60px;
	.text {
		float: left;
		width: calc(100% - 610px);
		h3 {
			margin-bottom: 25px;
			color:#333;
			font-size: 40px;
			font-weight: normal;
			line-height: 1;
			text-align: right;
		}//end h3
		p {
			margin-bottom: 25px;
			font-size: 18px;
		}//end p
	}//end .text
	.text2 {
		float: right;
		width: calc(100% - 610px);
		h3 {
			margin-bottom: 25px;
			color:#333;
			font-size: 40px;
			font-weight: normal;
			line-height: 1;
		}//end h3
		p {
			margin-bottom: 25px;
			font-size: 18px;
		}//end p
	}//end .text2
	.text + img {
		float: right;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	}//end img
	.text2 + img {
		float: left;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	}//end img
}//end .intro-text

.map {
	margin-top: 60px;
	img {
		vertical-align: middle;
	}//end img
}//end .map
.contact.br {
	margin-top: 80px;
	h3 {
		margin-bottom: 25px;
		color:#111;
		font-size: 25px;
		font-weight: normal;
		img {
			margin-right: 15px;
			vertical-align: middle;
		}//end img
		span {
			display: inline-block;
			margin-top: -3px;
			margin-left: 15px;
			padding-left:15px;
			color:#999;
			font-size: 16px;
			line-height: 1;
			border-left:2px solid #999;
			vertical-align: middle;
		}//end span
	}//end h3
	p {
		font-size: 18px;
		img {
			margin-right: 15px;
			vertical-align: middle;
		}//end img
	}//end p
	.tel {
		margin-top: 35px;
		span {
			display: inline-block;
			padding:0 20px;
			font-size: 18px;
			line-height: 60px;
			&:first-of-type {
				color:#fff;
				background-color: #f28f02;
			}
			&:last-of-type {
				background-color: #f8f8f8;
			}
		}//end span
	}//end tel
	.timedate {
		li {
			float: left;
			width:calc(33.33% - 14px);
			height: 154px;
			padding:20px;
			box-sizing: border-box;
			background-color: #f8f8f8;
			&:nth-of-type(2) {
				margin:0 21px;
			}
			h3 {
				margin-bottom: 15px;
			}//end h3
			p {
				font-size: 16px;
			}//end p
		}//end li
	}//end .timedate
	table {
		width: 100%;
		&.moblie {
			display: none;
		}
		thead {
			background-color: #5c5c5c;
			tr {
				border-bottom:10px solid #fff;
				th {
					padding:10px 15px;
					color:#fff;
					font-weight: normal;
					box-sizing: border-box;
				}//end td
			}//end tr
		}//end thead
		tbody {
			background-color: #f6f6f6;
			tr {
				border-bottom:10px solid #fff;
				td {
					padding:10px 15px;
					font-weight: normal;
					text-align: center;
					box-sizing: border-box;
					&.orange {
						color:#f28f02;
					}//end .orange
				}//end td
			}//end tr
		}//end tbody
	}//end table
}//end .contact
.text-list {
	h4 {
		margin-top: 25px;
		margin-bottom: 10px;
		color:#333;
		font-size: 40px;
		font-weight: normal;
		line-height: 1;
	}//end h3
}//end .text-list

.accordion {
	margin-top: 35px;
	.item {
		margin-bottom: 35px;
		// border-bottom:1px solid #ddd;
		// transition: all 0.2s;
		&.active {
			.collapsed {
				display: block;
				color:#00a0e8;
				span {
					color:#00a0e8;
					&:before {
						background-color: #00a0e8;
					}
				}//end span
				&:after {
					display: none;
				}
			}//end .collapsed
			.collapse {
				background-color: #f6f6f6;
			}//end .collapse
		}//end &.active
		.collapsed {
			display: block;
			position: relative;
			width: 100%;
			padding:15px 40px 15px 40px;
			color:#333;
			font-size: 20px;
			box-sizing: border-box;
			span {
				position: relative;
				&:before {
					display: block;
					position: absolute;
					top: 0;
					left: -40px;
					width: 30px;
					height: 30px;
					color:#f28f02;
					font-size: 22px;
					line-height: 30px;
					text-align: center;
					content:'Q';
				}
			}//end span
			// &:before {
			// 	display: block;
			// 	position: absolute;
			// 	top: 50%;
			// 	right: 30px;
			// 	width: 2px;
			// 	height: 20px;
			// 	margin-top: -10px;
			// 	background-color: #707070;
			// 	transform: rotateZ(90deg);
			// 	content: '';
			// }
			// &:after {
			// 	display: block;
			// 	position: absolute;
			// 	top: 50%;
			// 	right: 30px;
			// 	width: 2px;
			// 	height: 20px;
			// 	margin-top: -10px;
			// 	background-color: #707070;
			// 	content: '';
			// }
		}//end .collapsed
		.collapse {
			display: block;
			position: relative;
			padding:0px 40px;
			box-sizing: border-box;
			&:before {
				display: block;
				position: absolute;
				top: 0px;
				left: 0px;
				width: 30px;
				height: 30px;
				color:#666;
				font-size: 20px;
				line-height: 30px;
				text-align: center;
				content:'A';
			}
			p {
				color:#666; 
				font-size: 16px;
			}//end p
		}//end .collapse
	}//end .item
}//end .accordion

.thumb {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 150px;
	.thumb-list {
		position: relative;
		width: 100%;
		height: 710px;
		li {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 710px;
			&.on {
				display: block;
			}
			img {
				vertical-align: middle;
			}//end img
			p {
				height: 160px;
				padding:20px;
				color:#333;
				font-size: 25px;
				box-sizing: border-box;
				background-color: #f8f8f8;
				small {
					display: block;
					width: 100%;
					margin-top: 10px;
					font-size: 16px;
				}//end small
			}//end p
		}//end li
	}//end .thumb-list
}//end .thumb

.text-box {
	width: 100%;
	padding:15px 25px;
	color:#333;
	font-size: 16px;
	box-sizing: border-box;
	background-color: #f8f8f8;
}//end .text-box
.student {
	padding:100px 0;
	li {
		float: left;
		width: 50%;
		text-align: center;
		img {
			vertical-align: middle;
		}//end img
		span {
			display: block;
			margin-top: 10px;
			color:#666;
			font-size: 25px;
		}//end span
	}//end li
}//end .student
.img-box {
	margin-top: 45px;
	li {
		float: left;
		margin-right: 9px;
		&:last-of-type {
			margin-right: 0;
		}
		img {
			vertical-align: middle;
		}//end img
	}//end li
}//end .img-box

.table-box {
	margin-top: 60px;
	margin-bottom: 100px;
	text-align: center;
	&.n3 {
		float: left;
		width: 30%;
		padding:30px 10px;
		border: solid 1px #e6e6e6;
		box-sizing: border-box;
		background-color: #fcfcfc;
		.table-date {
			margin-top: 30px;
		}//end .table-date
		.table-head {
			color:#666;
			background-color: rgba(0,0,0,0.0);
		}//end .table-head
		.table-body {
			margin-top: 0;
			border:none;
			background-color:  rgba(0,0,0,0.0);
			li {
				padding: 10px 13px;
				a {
					padding:3px 0;
				}//end a
			}//end li
		}//end .table-body
	}//end .n3
	&.notice {
		margin-bottom: 30px;
		.table-head {
			li {
				padding: 10px 13px;
			}//end li
		}//end .table-body
		.table-body {
			li {
				padding: 15px 13px;
				a {
					color:#444;
				}
			}//end li
		}//end .table-body
	}//end .notice
}//end .table-box
.table-caption {
	color:#000;
	text-align: left;
}//end .table-caption
.table-head {
	margin-bottom: 10px;
	color:#fff;
	background-color: #064280;
}
.table-body {
	margin-top: -1px;
	border:1px solid #ddd;
	box-sizing: border-box;
	background-color: #f8f8f8;
}
.table-head,
.table-body,
.table-foot {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.table-head li,
.table-body li,
.table-foot li {
	display: table-cell;
	padding:25px 10px;
	line-height: 20px;
	text-align: center;
	box-sizing: border-box;
	vertical-align: middle;
}
.table-head li:nth-of-type(1),
.table-body li:nth-of-type(1),
.table-foot li:nth-of-type(1) {
	width: 10%;
}
.table-head li:nth-of-type(2),
.table-body li:nth-of-type(2),
.table-foot li:nth-of-type(2) {
	width: 18%;
}
.table-head li:nth-of-type(3),
.table-body li:nth-of-type(3),
.table-foot li:nth-of-type(3) {
	width: 18%;
}
.table-head li:nth-of-type(4),
.table-body li:nth-of-type(4),
.table-foot li:nth-of-type(4) {
	width: 18%;
}
.table-head li:nth-of-type(5),
.table-body li:nth-of-type(5),
.table-foot li:nth-of-type(5) {
	width: 18%;
}
.table-head li:nth-of-type(6),
.table-body li:nth-of-type(6),
.table-foot li:nth-of-type(6) {
	width: 18%;
}
.notice .table-head li:nth-of-type(1),
.notice .table-body li:nth-of-type(1),
.notice .table-foot li:nth-of-type(1) {
	width: 10%;
}
.notice .table-head li:nth-of-type(2),
.notice .table-body li:nth-of-type(2),
.notice .table-foot li:nth-of-type(2) {
	width: 40%;
}
.notice .table-body li:nth-of-type(2) {
	text-align: left;
	a {
		overflow: hidden;
		display: block;
		width: 100%;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}
.notice .table-head li:nth-of-type(3),
.notice .table-body li:nth-of-type(3),
.notice .table-foot li:nth-of-type(3) {
	width: 15%;
}
.notice .table-head li:nth-of-type(4),
.notice .table-body li:nth-of-type(4),
.notice .table-foot li:nth-of-type(4) {
	width: 20%;
}
.notice .table-head li:nth-of-type(5),
.notice .table-body li:nth-of-type(5),
.notice .table-foot li:nth-of-type(5) {
	width: 15%;
}
.table-date {
	display: inline-block;
	margin-bottom: 30px;
	li {
		float: left;
		margin:0 10px;
		color:#000;
		font-size: 34px;
	}//end li
}//end .table-date
.table-date ~ .table-body li {
	cursor: pointer;
}
.table-date ~ .table-head li,
.table-date ~ .table-body li,
.table-date ~ .table-foot li {
	width: 14.28%;
}
.table-date ~ .table-head li a,
.table-date ~ .table-body li a,
.table-date ~ .table-foot li a {
	display: block;
	width: 100%;
	height: 100%;
	color:#333;
}
.table-date ~ .table-head li a .on-edu,
.table-date ~ .table-body li a .on-edu,
.table-date ~ .table-foot li a .on-edu {
	display: block;
	width: 118px;
	height: 30px;
	margin:10px auto 0;
	color:#fff;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	border-radius: 15px;
	background-color: #f28f02;
}
.table-date ~ .table-head li a .off-edu,
.table-date ~ .table-body li a .off-edu,
.table-date ~ .table-foot li a .off-edu {
	display: block;
	width: 118px;
	height: 30px;
	margin:10px auto 0;
	color:#fff;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	border-radius: 15px;
	background-color: #666;
}
.info-data {
	width: 100%;
	margin-bottom: 30px;
	&.n6 {
		float: right;
		width: 68%;
		margin-top: 60px;
	}//end n6
	.form-control {
		float: left;
		width: 49.5%;
		
		&:nth-of-type(2n+1) {
			margin-right: 1%;
		}
		&.blue {
			color:#fff;
			border-color:#064280;
			background-color: #064280;
		}//end .blue
	}//end .form-control
	.l {
		float: left;
		width: 49.5%;
	}//end .l
	.r {
		float: right;
		width: 49.5%;
	}//end .r
}//end .info-data

.search-box {
	width: 657px;
	margin: 60px auto 0;
	.form-control {
		float: left;
		margin-right: 10px;
		&:nth-child(1) {
			width: 215px;
		}
		&:nth-child(2) {
			width: 335px;
		}
	}//end .form-control
	.btn {
		img {
			width: 18px;
			margin-left: 5px;
			vertical-align: sub;
		}
	}//end .btn
}//end .search-box
.pagination {
	text-align: center;
	ul {
		display: inline-block;
		li {
			display: inline-block;
			width: 30px;
			height: 30px;
			line-height: 30px;
			border:1px solid #ccc;
			&.on,
			&:hover {
				border-color:#064280;
				background-color: #064280;
				a {
					display: block;
					width: 100%;
					height: 100%;
					color:#fff;
				}//end a
			}
			img {
				height: 20px;
				margin-top: -2px;
				vertical-align: middle;
			}//end img
			a {
				color:#444;
			}//end a
		}//end li
	}//end ul
}//end .pagination

.top {
	display: none;
	position: fixed;
	bottom:100px;
	right:30px;
	width: 50px;
	height: 50px;
	color:#fff;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	border-radius: 25px;
	background-color: #f28f02;
}//end .top




/*---- footer ----*/
footer {
	width: 100%;
	margin-top: 200px;
	padding:36px 0;
	background-color: #f6f6f6;
	ul {
		&.l-fnb {
			float: left;
		}//end .l-fnb
		&.r-fnb {
			float: right;
		}//end .r-fnb
		li {
			float: left;
			font-size: 12px;
			&.copy {
				float: right;
				clear: both;
			}//end .copy
			a {
				color:#444 !important;
			}//end a
			.bar {
				font-size: 11px;
				vertical-align: bottom;
			}//end .bar
		}//end li
	}//end ul
}//end footer


/* ------ */
/* mobile */
/* ------ */
@media screen and (max-width:1440px) {
	
}


@media screen and (max-width:1200px) {
	.inner {
		width: 100%;
		padding:0 15px;
		box-sizing: border-box;
	}

	/*---- header ----*/
	header {
		nav {
			width: 100%;//
			padding:0 15px;//
			box-sizing: border-box;//
			.gnb {
				width: auto;//
				li {
					margin:0 30px;//
					&:nth-of-type(1) {
						margin-left: 0;//
					}
					&:nth-of-type(3) {
						margin-right: 256px;//
					}
					a {
						font-size: 18px;//
					}//end a
				}//end li
			}//end .gnb
		}//end nav
	}//end header


	/*---- container ----*/
	// main
	.box {
		width: 49.5%;//
		height: 218px;//
		h6 {
			margin-bottom: 20px;//
			font-size: 22px;//
		}//end h6
		> p {
			&.week {
				margin-top: -15px;//
				padding:0 0 15px;//
			}//end .week
		}//end p
		&.box1 {
			margin-right: 1%;//
			padding:20px;//
		}//end .box1
		&.box2 {
			a {
				overflow: hidden;//
				position: relative;//
				width: 50%;//
				height: 100%;//
				border-radius: 0 20px 20px 0;//
				&:first-of-type {
					border-radius: 20px 0 0 20px;//
				}
				img {
					position: absolute;//
					top: 50%;//
					left: 50%;//
					transform: translate(-50%,-50%);//
				}//end img
			}//end a
		}//end .box2
		&.box3 {
			margin-right: 1%;//
			padding:20px;//
		}//end .box3
		&.box4 {
			>.contact {
				padding:20px;//
				a {
					border-radius:3px;//
				}//end a
			}//end .contact
			a {
				overflow: hidden;//
				position: relative;//
				width: 50%;//
				height: 100%;//
				border-radius: 0 20px 20px 0;//
				img {
					position: absolute;//
					top: 50%;//
					left: 50%;//
					transform: translate(-50%,-50%);// 
				}//end img
			}//end a
		}//end .box4
	}//end .box
	.etiquette {
		height: 615px;//
		img {
			height: 615px;//
		}//end img
	}//end .etiquette

}



@media screen and (max-width:1024px) {
	/*---- header ----*/
	header {
		height: 60px;//
		h1 {
			width: 180px;//
			height: 180px;//
			border-radius: 90px;//
			transform: translateY(-90px);//
			a {
				border-radius: 90px;//
				background-size: 210px;//
				background-position: center -30px;//
			}//end a
		}//end .logo
		nav {
			width: 100%;//
			height: 60px;//
			.gnb {
				width: auto;//
				li {
					margin:0 15px;//
					line-height: 60px;//
					&:nth-of-type(3) {
						margin-right: 180px;//
					}
					a {
						font-size: 16px;//
					}//end a
				}//end li
			}//end .gnb
		}//end nav
	}//end header


	/*---- container ----*/
	// main
	.bnnr {
		height: 454px;//
		margin-top: 60px;//
	}//end .bnnr
	.box {
		width:100%;//
		height: 218px;//
		&.box1 {
			margin-right: 0;//
		}//end .box1
		&.box2 {
			a {
				background-color: #189354;//
				&:first-of-type {
					background-color: #2f87bf;//
				}
			}//end a
		}//end .box2
		&.box3 {
			margin-right: 0;//
		}//end .box3
		&.box4 {
			a {
				background-color: #535252;//
			}//end a
		}//end .box4
	}//end .box
	.etiquette {
		height: 515px;//
		img {
			height: 515px;//
		}//end img
	}//end .etiquette


	// sub
	.table-date ~ .table-head li a .on-edu,
	.table-date ~ .table-body li a .on-edu,
	.table-date ~ .table-foot li a .on-edu {
		display: block;
		width: 100%;
	}
	.table-date ~ .table-head li a .off-edu,
	.table-date ~ .table-body li a .off-edu,
	.table-date ~ .table-foot li a .off-edu {
		display: block;
		width: 100%;
	}
}



@media screen and (max-width:768px) {
	html {
		overflow: hidden;
	}
	/*---- header ----*/
	header {
		height: 80px;
		h1 {
			transform: translateY(-70px);
		}//end h1
		.ham {
			display: block;
			position: absolute;
			top: 20px;
			right: 15px;
			width: 40px;
			height: 40px;
			text-indent: -9999px;
			background-image: url(../images/ham.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			z-index: 9999;
			&.on {
				background-image: url(../images/ham-x.png);
			}//end on
		}//end ham
		nav {
			display: none;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			z-index: 9998;
			&:before {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				background-color: rgba(0, 0, 0, 0.3);
				content:'';
				z-index: 100;
			}
			.gnb {
				position: absolute;
				top: 0;
				right: 0;
				width: 70%;//
				height:100%;//
				padding:110px 30px 30px;//
				box-sizing: border-box;//
				background-color: #fff;
				z-index: 101;
				
				> li {
					position: relative;
					float: none;//
					margin:0 0 15px;//
					padding:5px 0;
					line-height: 30px;//
					text-align: left;
					
					transition: all 0.2s;
					&:after {
						display: block;
						position: absolute;
						top: 13px;
						right: 15px;
						width: 28px;
						height: 16px;
						background-image: url(../images/prev.png);
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;
						content:'';
					}
					&:hover .sub-gnb-box {
						display: none;
					}
					&.on {
						border:1px solid #ccc;
						border-style: solid none none none;
					}
					&.on:after {
						transform: rotateZ(-90deg);
						transition: all 0.1s;
					}
					&.on .sub-gnb-box {
						display: block;
					}
					&:nth-of-type(3) {
						margin-right: 0;//
					}
					&:nth-of-type(3):after,
					&:nth-of-type(4):after {
						display: none;
					}
					a {
						font-size: 20px;//
					}//end a
					.sub-gnb-box {
						display: none;
						position: initial;//
						top: 0;//
						left: 0;//
						min-height: 5px;
						transform: translateX(0);//
						.sub-gnb {
							margin: 0 auto;//
							padding:0;//
							border-radius:0;//
							box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0);//
							background-color: #fff;
							&:after {
								display: none;//
							}
							li {
								width: 100%;
								margin:0 auto;
								padding:0 5px;
								text-align: left;
								box-sizing: border-box;
								a {
									font-size: 16px;
								}//end a
							}//end li
						}//end .sub-gnb
					}//end .sub-gnb-box
				}//end li
			}//end .gnb
		}//end nav
	}//end header


	/*---- container ----*/
	// main
	.bnnr {
		height: 300px;
		margin-top: 80px;
		.swiper-slide {
			overflow: hidden;
			> img {
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}//end img
			> .text {
				width:80%;
				margin: 0 auto;
				img {
					width: auto;
					height:80px;
				}//end img
				p {
					display: none;
				}//end p
			}//end .text
		}//end .swiper-slide
		.swiper-button-next,
		.swiper-button-prev {
			display: none;
		}
	}//end .bnnr
	.box {
		h6 {
			margin-bottom: 10px;
		}//end h6
		p {
			font-size: 17px;
			b {
				font-size: 14px;
			}//end b
		}//end p
		&.box1 {
			padding:30px;//
		}//end .box1
		&.box3 {
			margin-right: 0;//
		}//end .box3
	}//end .box
	.etiquette {
		min-height: 215px;//
		height: auto;
		img {
			position: initial;
			top: 0;
    		left: 0;
			width: 100%;
			height: auto;
    		transform: translateX(0%);
		}//end img
	}//end .etiquette

	// sub
	.sub-nav {
		&.n2 li {
			width: 50%;
		}
		li {
			margin-left: -1px;
			a {
				font-size: 16px;
				line-height: 42px;
			}//end a
		}//end li
	}//end .sub-nav
	.sub-tit {
		margin-top: 40px;
		font-size: 30px;
	}//end .sub-tit
	.cont-nav {
		margin-top: 45px;
		li {
			a {
				font-size: 12px;
			}//end a
			.bar {
				padding:0 5px;
				font-size: 11px;
			}//end .bar
		}//end li
	}//end .cont-nav
	.ceo-text {
		margin-top: 60px;
		.text {
			float: left;
			width: 100%;
			img {
				width: 80%;
			}//end img
			p {
				margin-bottom: 25px;
				font-size: 16px;
			}//end p
		}//end .text
		>img {
			float: right;
			width: 100%;
		}//end img
	}//end .ceo-text
	.intro-text {
		width: 100%;
		margin-top: 60px;
		.text {
			width: 100%;
			h3 {
				margin-bottom: 15px;
				font-size: 30px;
				text-align: left;
			}//end h3
			p {
				font-size: 16px;
			}//end p
		}//end .text
		.text2 {
			width: 100%;
			h3 {
				margin-bottom: 15px;
				font-size: 30px;
			}//end h3
			p {
				margin-bottom: 25px;
				font-size: 18px;
			}//end p
		}//end .text2
		.text + img {
			width: 100%;
		}//end img
		.text2 + img {
			width: 100%;
		}//end img
	}//end .intro-text
	.map {
		width: 100%;
		img {
			width: 100%;
		}//end img
	}//end .map
	.contact.br {
		margin-top: 60px;
		h3 {
			margin-bottom: 15px;
			font-size: 20px;
			img {
				height: 36px;
				margin-right: 10px;
			}//end img
		}//end h3
		p {
			font-size: 14px;
			img {
				display: block;
			}//end img
		}//end p
		.tel {
			margin-top: 25px;
			span {
				padding:0 10px;
				font-size: 14px;
				line-height: 40px;
			}//end span
		}//end tel
		.timedate {
			li {
				width:100%;
				min-height: 140px;
				height: auto;
				padding:19px;
				margin-bottom: 20px;
				&:nth-of-type(2) {
					margin:0 0 20px 0;
				}
				h3 {
					margin-bottom: 15px;
				}//end h3
				p {
					font-size: 16px;
					span {
						display: inline-block;
						color:#000;
					}
				}//end p
			}//end li
		}//end .timedate
		table {
			&.pc {
				display: none;
			}
			&.mobile {
				display: table;
			}
			thead {
				tr {
					th {
						font-size: 14px;
					}//end td
				}//end tr
			}//end thead
			tbody {
				tr {
					td {
						font-size: 14px;
					}//end td
				}//end tr
			}//end tbody
		}//end table
	}//end .contact
	.text-list {
		h4 {
			font-size: 30px;
		}//end h3
	}//end .text-list
	.thumb {
		margin-top: 25px;
		margin-bottom: 60px;
		.thumb-list {
			min-height: 580px;
			height: auto;
			li {
				min-height: 410px;
				height: auto;
				img {
					width: 100%;
				}//end img
				p {
					min-height: 160px;
					height: auto;
					font-size: 20px;
					small {
						font-size: 14px;
					}//end small
				}//end p
			}//end li
		}//end .thumb-list
	}//end .thumb

	.text-box {
		font-size: 14px;
	}//end .text-box
	.student {
		padding:70px 0;
		li {
			img {
				height: 60px;
			}//end img
			span {
				display: block;
				font-size: 20px;
			}//end span
		}//end li
	}//end .student
	.img-box {
		li {
			width: 100%;
			margin-right: 0;
			margin-bottom: 10px;
			img {
				width: 100%;
			}//end img
		}//end li
	}//end .img-box

	.search-box {
		width: 100%;
		margin: 60px auto 0;
		.form-control {
			float: left;
			margin-right: 5px;
			background-color: #fff;
			&:nth-child(1) {
				width: calc(35% - 48px);
			}
			&:nth-child(2) {
				width: calc(65% - 48px);
			}
		}//end .form-control
		.btn {
			float: left;
			img {
				width: 18px;
				margin-left: 5px;
				vertical-align: sub;
			}
		}//end .btn
	}//end .search-box

	.table-box {
		overflow: hidden;
		overflow-x: auto;
		width: 100%;
		margin-bottom: 60px;
		&.n3 {
			width: 100%;
			margin-bottom: 0;
		}
	}
	.table-box.notice .table-head {
		table-layout: fixed;
		width: 100%;
		li {
			padding: 10px 5px;
			font-size: 12px;
		}//end li
	}//end .table-body
	.table-box.notice .table-body {
		table-layout: fixed;
		width: 100%;
		li {
			padding: 10px 5px;
			font-size: 12px;
			a {
				font-size: 12px;
			}
		}//end li
	}//end .table-body

	.table-caption {
		font-size: 14px;
	}//end .table-caption
	.table-head,
	.table-body,
	.table-foot {
		min-width: 767px;
	}
	.table-head li,
	.table-body li,
	.table-foot li {
		padding:10px 5px;
		font-size: 12px;
	}

	.table-box.cal .table-head,
	.table-box.cal .table-body,
	.table-box.cal .table-foot,
	.table-box.n3 .table-head,
	.table-box.n3 .table-body,
	.table-box.n3 .table-foot,
	.table-box.notice .table-head,
	.table-box.notice .table-body,
	.table-box.notice .table-foot {
		min-width: 1px;
	}

	.table-box.notice .table-head li:nth-of-type(1),
	.table-box.notice .table-body li:nth-of-type(1),
	.table-box.notice .table-foot li:nth-of-type(1) {
		width: 34px !important;
		img {
			width: 24px;
		}//end img
	}
	.table-box.notice .table-head li:nth-of-type(2),
	.table-box.notice .table-body li:nth-of-type(2),
	.table-box.notice .table-foot li:nth-of-type(2) {
		width: calc(100%) !important;
	}
	.table-box.notice .table-body li:nth-of-type(2) {
		text-align: left;
		a {
			overflow: hidden;
			display: block;
			width: 100%;
			white-space: nowrap;
			text-overflow: ellipsis;
		}//end a
	}
	.table-box.notice .table-head li:nth-of-type(3),
	.table-box.notice .table-body li:nth-of-type(3),
	.table-box.notice .table-foot li:nth-of-type(3) {
		width:0;
	}
	.table-box.notice .table-head li:nth-of-type(4),
	.table-box.notice .table-body li:nth-of-type(4),
	.table-box.notice .table-foot li:nth-of-type(4) {
		width: 79px !important;
	}
	.notice .table-head li:nth-of-type(5),
	.notice .table-body li:nth-of-type(5),
	.notice .table-foot li:nth-of-type(5) {
		width: 0;
	}
	.table-date {
		margin-bottom: 20px;
		li {
			font-size: 24px;
		}//end li
	}//end .table-date
	.table-date ~ .table-head li a,
	.table-date ~ .table-body li a,
	.table-date ~ .table-foot li a {
		font-size: 14px;
	}
	.table-date ~ .table-head li a.on-edu,
	.table-date ~ .table-body li a.on-edu,
	.table-date ~ .table-foot li a.on-edu {
		display: inline-block;
		color:#fff;
		border-radius: 10px;
		background-color: #f28f02;
	}
	.table-date ~ .table-head li a.off-edu,
	.table-date ~ .table-body li a.off-edu,
	.table-date ~ .table-foot li a.off-edu {
		display: inline-block;
		color:#fff;
		border-radius: 10px;
		background-color: #666;
	}
	.table-date ~ .table-head li a .on-edu,
	.table-date ~ .table-body li a .on-edu,
	.table-date ~ .table-foot li a .on-edu {
		display: none;
	}
	.table-date ~ .table-head li a .off-edu,
	.table-date ~ .table-body li a .off-edu,
	.table-date ~ .table-foot li a .off-edu {
		display: none;
	}

	.mobile-none {
		display: none !important;
	}

	.info-data {
		&.n6 {
			width: 100%;
			margin-top: 40px;
		}//end n6
		.form-control {
			width: 100%;
			&:nth-of-type(2n+1) {
				margin-right: 0;
			}
		}//end .form-control
		.l {
			width: 100%;
		}//end .l
		.r {
			width: 100%;
			margin-top: 30px;
		}//end .r
	}//end .info-data


	/*---- footer ----*/
	footer {
		ul {
			li {
				&.copy {
					float: left;
					clear: both;
				}//end .copy
			}//end li
		}//end ul
	}//end footer
}


@media screen and (max-width:520px) {
	.check-box {
		label {
			width: 100%;
		}//end label
	}//end .check-box

	/*---- header ----*/
	header {
		height: 60px;
		h1 {
			transform: translateY(-94px);
		}//end h1
		.ham {
			display: block;
			position: absolute;
			top: 10px;
			right: 15px;
			width: 40px;
			height: 40px;
			text-indent: -9999999px;
			background-image: url(../images/ham.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			z-index: 9999;
			&.on {
				background-image: url(../images/ham-x.png);
			}//end on
		}//end ham
		nav {
			display: none;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			z-index: 9998;
			&:before {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				background-color: rgba(0, 0, 0, 0.3);
				content:'';
				z-index: 100;
			}
			.gnb {
				> li {
					a {
						font-size: 16px;//
					}//end a
					.sub-gnb-box {
						.sub-gnb {
							li {
								a {
									font-size: 14px;
								}//end a
							}//end li
						}//end .sub-gnb
					}//end .sub-gnb-box
				}//end li
			}//end .gnb
		}//end nav
	}//end header

	/*---- container ----*/
	// main
	.bnnr {
		margin-top: 60px;
		.swiper-slide {
			> .text {
				width: 90%;
				img {
					height:55px;
				}//end img
				p {
					display: none;
				}//end p
			}//end .text
		}//end .swiper-slide
		.swiper-button-next,
		.swiper-button-prev {
			display: none;
		}
	}//end .bnnr
	.box {
		min-height: 218px;
		height: auto;
		h6 {
			margin-bottom: 10px;
		}//end h6
		p {
			font-size: 17px;
			b {
				display: block;
				font-size: 14px;
			}//end b
		}//end p
		&.box1 {
			padding:30px;//
			p .bar {
				display: block;
				height: 1px;
				text-indent: -9999px;
			}
		}//end .box1
		&.box2 {
			height: 167px;
			min-height: 1px;
			a {
				width: 50%;
				height: 167px;
				img {
					height: 100%;
				}//end img
			}
		}//end .box2
		&.box3 {
			margin-right: 0;//
			p a {
				overflow: hidden;
				display: block;
				width: 100%;
				white-space: nowrap;
				text-overflow: ellipsis;
			}//end p
		}//end .box3
		&.box4 {
			margin-bottom: 30px;
			background-color: #fff;
			> .contact {
				width: 100%;
				margin-bottom: 20px;
				border-radius:20px;
				background-color: #f6f6f6;
			}//end .contact
			> a {
				display: block;
				width: 100%;
				height: 100px;
				border-radius:20px;
				img {
					height: 180%;
				}//end img
			}
		}//end .box4
	}//end .box
	.etiquette {
		min-height: 215px;//
		height: auto;
		img {
			position: initial;
			top: 0;
    		left: 0;
			width: 100%;
			height: auto;
    		transform: translateX(0%);
		}//end img
	}//end .etiquette

	// sub
	.sub-bnnr {
		height: 200px;
		margin-top: 60px;
		margin-bottom: 60px;
		h2 {
			font-size: 30px;
			line-height: 200px;
		}//end h2
	}//end .sub-bnnr
	.sub-nav {
		width: 100%;
		&.n4 li {
			width: 50%;
			margin-top: -1px;
		}
	}//end .sub-nav

	/*---- footer ----*/
	footer {
		ul {
			li {
				font-size: 11px;
				&.copy {
					float: left;
					clear: both;
				}//end .copy
			}//end li
		}//end ul
	}//end footer
}