@charset 'UTF-8';

/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}
body { line-height: 1;}
a{text-decoration:none;color:inherit;}
ol,ul { list-style: none;}
blockquote,q {quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {content: '';content: none;}
table { border-collapse: collapse;border-spacing: 0;}
.blind,legend{position:absolute;margin:-1px;width:1px;height:1px;clip:rect(0,0,0,0);}

/* Common */
#container{width:100%;height:100vh;font-family: 'Nanum Gothic', sans-serif;background-color:#f5e8e8;}
section{display:flex;align-items:center;width:100%;height:100vh;}
.inner{box-sizing: border-box;max-width:1000px;margin:0 auto;padding:0 50px;width:100%;}
h2{font-size:22px;color:#777;font-weight:bold;border-bottom:1px solid #b6b3b3;}
.note-editable{background-color:#faf4f4;}
#page_list_content .btn_group a,#page_login_content .btn_group a,#page_signup_content .btn_signup,#page_signup_content .btn_back{display:inline-block;padding:0 10px;height:32px;line-height:30px;border: 1px solid #ddd;font-size: 14px;background-color: #f39292;text-align:center;font-weight:bold;border-radius:5px;transition: 0.3s;box-sizing: border-box;}

#page_write .btn_cancel, #page_write .btn_update,.btn_comment_update,#page_list_content .btn_reply,#page_login_content .btn_login,#page_signup_content .btn_check_id,#page_login_content .btn_signup{box-sizing: border-box;text-align:center;line-height:30px;height:32px;padding:0 10px;display:inline-block;vertical-align:top;border:1px solid #ddd;font-size:14px;background-color:#f39292;cursor:pointer;border-radius: 5px;font-family: 'Nanum Gothic', sans-serif;font-weight:bold;transition: .3s;cursor:pointer;}

#page_write .btn_cancel:hover, #page_write .btn_update:hover,
.btn_comment_update:hover,#page_login_content .btn_group a:hover, #page_list_content a:hover,#page_list_content .btn_reply:hover,#page_login_content .btn_login:hover,#page_login_content .btn_signup:hover,#page_signup_content .btn_check_id:hover,#page_signup_content .btn_back:hover,#page_signup_content .btn_signup:hover{
  background-color:rgba(243,146,146,0.7);color:#fff;
}
.curruser{display:inline-block;color:#4a347c}
.userline{display:inline-block;font-weight:bold;padding:20px 0;}

/* Page - Write */
#page_write form{margin-top:30px;}
#page_write .input_category{width:100%;height:30px;text-align:right;}
#page_write .input_category .data_cate{cursor:pointer;display:inline-block;width:130px;height:100%;border:0;border:1px solid #ddd;color:#555;font-weight:bold;text-align:center;}
.data_cate option{cursor:pointer;width:100%;height:100%;color:#555;}
#page_write .tit_box{width:100%;}
#page_write .tit_box label{display:block;}
#page_write .tit_box input{box-sizing: border-box; width:100%;padding:0;border:1px solid #ddd;height:30px;margin:5px 0;padding:0 10px;}
#page_write .btn_group{margin-top:30px;text-align:right;}



#page_list.inner{min-height:400px;}
#page_list h2{display:flex;justify-content:space-between;padding-bottom:10px;}
#page_list .btn_write{width:70px;height:30px;background-color:#474545;color:#ebe7e7;font-size:14px;cursor:pointer;}
#page_list .board{margin-top:35px;min-height: 110px;}
#page_list .caution{font-size:14px;font-weight:bold;color:#000;}
#page_list .st01{width:15%;}
#page_list .st02{width:40%;}
#page_list .st03{width:20%;}
#page_list .st04{width:10%;}

#page_list table{margin-top:10px;width:100%;box-sizing:border-box;min-height:110px; text-align:center;background-color:#ebe7e7;}
#page_list th{height:25px;line-height:25px;border: 1px solid #b6b3b3;background-color:#474545;color:#ebe7e7;}
#page_list tr{height:25px;line-height:25px;border: 1px solid #b6b3b3;}
#page_list tr,#page_list td{background:#f5f5f5;height:25px;}
#page_list .pagination{margin-top:30px;width:100%;text-align:center;}
#page_list .btn_page.is_active{text-decoration:underline; text-underline-offset:4px;}
#page_list .pagination button{border:0;background:transparent;padding:5px;margin:0;font-size:15px;cursor:pointer;}
#page_list .pagination button.is_act{font-weight:bold;color: red;}


#page_list_content .con_wrap{border:1px solid #b6b3b3;border-radius:10px;background: #f5f5f5;}
#page_list_content .btn_group{text-align:right;padding-bottom:10px;}

#page_list_content .con_header{width:95%;margin:0 auto;border-bottom: 1px solid #b6b3b3;box-sizing: border-box;padding:20px 0;}
#page_list_content .view_subject{font-weight:bold;font-size:18px;line-height:28px;}
#page_list_content .info_group{margin-top:10px;}
#page_list_content .info_group >li{margin-left: 10px;display:inline-block;font-size:14px;font-weight:bold;}
#page_list_content .con_body{min-height:200px;box-sizing: border-box;padding: 20px;font-size:14px;}
#page_list_content .info_group .view_nick{margin-left:0;}
#page_list_content .comment_con{margin:20px auto 0;width:95%; border-top:1px solid #b6b3b3;box-sizing: border-box;padding:15px 0;}
#page_list_content .comment_list{width:100%;}
#page_list_content .comment_list tr{width:100%;line-height: 28px;}
#page_list_content td.list_id{width:10%;font-size:14px;font-weight:bold;}
#page_list_content td.list_date{width:10%;text-align:center;font-size:12px;}
#page_list_content td.list_con{width:70%;}
#page_list_content td.list_reply{width:10%;text-align:center;}

#page_list_content .comm_update{margin-top:15px;padding-top:15px;background-color:#fff;padding: 15px;}
#page_list_content .comm_update .comm_writer{display:block;font-size:14px;font-weight:bold;}
#input_comment{margin-top:15px;width:100%;border:0;resize: none;}
#page_list_content .btn_area {width:100%;text-align:right;}
#page_list #board_list .list_items{color:#555;line-height:normal;}
#page_list #board_list .list_cate,
#page_list #board_list .list_writer
{font-size:13px;vertical-align:middle;}
#page_list #board_list .list_subject {
  cursor:pointer;
  border:0;width:100%;height:100%;background-color:transparent;padding:0;margin:0;font-size:14px;line-height:20px;
}

#page_list #board_list .list_date{font-size:12px;color:#555;vertical-align: middle;}
#page_list #board_list .list_count{font-size:14px;line-height:100%;}



#page_login_content .login_wrap{width:600px;height:300px;border:2px solid #b6b3b3;background: #f5f5f5;display:flex;align-items:center;display: -webkit-flex;justify-content:center;margin:0 auto;}
#page_login_content .login_box,
#page_signup_content .signup_box
{font-size:14px;}
#page_login_content label,
#page_signup_content label{display:inline-block;width:70px;text-align:center;vertical-align:middle; }
#page_login_content input,
#page_signup_content input {border:0; background-color:transparent;border-bottom:1px solid #777;height:25px;}
#page_login_content input[name="password"]{margin-top:15px;}
#page_login_content .btn_group,#page_signup_content .btn_group{margin-top:30px;display:flex;justify-content:right;}


#page_signup_content .signup_wrap{width:400px;height:auto;padding:0 0 20px;margin:0 auto;border: 2px solid #b6b3b3; background: #f5f5f5;display:-webkit-flex; display: flex;justify-content:center; align-items: center;}
#page_signup_content .guide_desc{display:block;margin-top:10px;font-size:11px;color:#777;padding-left:10px;}
#page_signup_content .signup_area{margin-top:30px;}

